/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.Phone {
    width: 200px;
    height: 250px;
}
.TV {
    width: 250px;
    height: 150px;
}

#phoneButton {
    border: solid;
    color:   cornflowerblue;
    text-align: center;
    text-decoration: wavy;
    display: inline-block;
    font-size: 13px;
    background-color:  grey;
    padding: 7px 14px;
    border-top-width:medium;
}

html, body {
    height: 100%;
}

body {
    background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
    background-size: cover;
}

.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
}

    .firefly::before, .firefly::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform-origin: -10vw;
    }

    .firefly::before {
        background: black;
        opacity: 0.4;
        animation: drift ease alternate infinite;
    }

    .firefly::after {
        background: white;
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
        animation: drift ease alternate infinite, flash ease infinite;
    }

    .firefly:nth-child(1) {
        animation-name: move1;
    }

        .firefly:nth-child(1)::before {
            animation-duration: 15s;
        }

        .firefly:nth-child(1)::after {
            animation-duration: 15s, 7535ms;
            animation-delay: 0ms, 5325ms;
        }

@keyframes move1 {
    0% {
        transform: translateX(-29vw) translateY(18vh) scale(0.92);
    }

    4.347826087% {
        transform: translateX(-49vw) translateY(-7vh) scale(0.87);
    }

    8.6956521739% {
        transform: translateX(-23vw) translateY(-48vh) scale(0.6);
    }

    13.0434782609% {
        transform: translateX(12vw) translateY(15vh) scale(0.62);
    }

    17.3913043478% {
        transform: translateX(50vw) translateY(-48vh) scale(0.38);
    }

    21.7391304348% {
        transform: translateX(-18vw) translateY(-5vh) scale(0.82);
    }

    26.0869565217% {
        transform: translateX(11vw) translateY(40vh) scale(0.69);
    }

    30.4347826087% {
        transform: translateX(38vw) translateY(39vh) scale(0.41);
    }

    34.7826086957% {
        transform: translateX(-23vw) translateY(45vh) scale(0.56);
    }

    39.1304347826% {
        transform: translateX(21vw) translateY(-49vh) scale(0.91);
    }

    43.4782608696% {
        transform: translateX(5vw) translateY(27vh) scale(0.81);
    }

    47.8260869565% {
        transform: translateX(23vw) translateY(15vh) scale(0.49);
    }

    52.1739130435% {
        transform: translateX(34vw) translateY(-27vh) scale(0.95);
    }

    56.5217391304% {
        transform: translateX(-26vw) translateY(32vh) scale(0.68);
    }

    60.8695652174% {
        transform: translateX(49vw) translateY(-8vh) scale(0.59);
    }

    65.2173913043% {
        transform: translateX(19vw) translateY(-28vh) scale(0.3);
    }

    69.5652173913% {
        transform: translateX(28vw) translateY(36vh) scale(0.83);
    }

    73.9130434783% {
        transform: translateX(22vw) translateY(30vh) scale(0.43);
    }

    78.2608695652% {
        transform: translateX(49vw) translateY(-17vh) scale(0.8);
    }

    82.6086956522% {
        transform: translateX(14vw) translateY(-46vh) scale(0.43);
    }

    86.9565217391% {
        transform: translateX(32vw) translateY(11vh) scale(0.3);
    }

    91.3043478261% {
        transform: translateX(35vw) translateY(-31vh) scale(0.85);
    }

    95.652173913% {
        transform: translateX(11vw) translateY(-48vh) scale(0.99);
    }

    100% {
        transform: translateX(-19vw) translateY(-14vh) scale(0.96);
    }
}

.firefly:nth-child(2) {
    animation-name: move2;
}

    .firefly:nth-child(2)::before {
        animation-duration: 13s;
    }

    .firefly:nth-child(2)::after {
        animation-duration: 13s, 6448ms;
        animation-delay: 0ms, 5750ms;
    }

@keyframes move2 {
    0% {
        transform: translateX(17vw) translateY(41vh) scale(0.85);
    }

    4.1666666667% {
        transform: translateX(45vw) translateY(-37vh) scale(0.67);
    }

    8.3333333333% {
        transform: translateX(7vw) translateY(-36vh) scale(0.43);
    }

    12.5% {
        transform: translateX(-11vw) translateY(32vh) scale(0.48);
    }

    16.6666666667% {
        transform: translateX(37vw) translateY(42vh) scale(0.59);
    }

    20.8333333333% {
        transform: translateX(-27vw) translateY(-3vh) scale(0.63);
    }

    25% {
        transform: translateX(30vw) translateY(37vh) scale(0.68);
    }

    29.1666666667% {
        transform: translateX(-39vw) translateY(-47vh) scale(0.55);
    }

    33.3333333333% {
        transform: translateX(16vw) translateY(-48vh) scale(0.69);
    }

    37.5% {
        transform: translateX(-19vw) translateY(7vh) scale(0.89);
    }

    41.6666666667% {
        transform: translateX(50vw) translateY(-48vh) scale(0.65);
    }

    45.8333333333% {
        transform: translateX(-8vw) translateY(-19vh) scale(0.41);
    }

    50% {
        transform: translateX(26vw) translateY(8vh) scale(0.92);
    }

    54.1666666667% {
        transform: translateX(9vw) translateY(1vh) scale(0.83);
    }

    58.3333333333% {
        transform: translateX(4vw) translateY(-3vh) scale(0.41);
    }

    62.5% {
        transform: translateX(47vw) translateY(43vh) scale(0.41);
    }

    66.6666666667% {
        transform: translateX(1vw) translateY(-41vh) scale(0.54);
    }

    70.8333333333% {
        transform: translateX(35vw) translateY(50vh) scale(0.51);
    }

    75% {
        transform: translateX(-8vw) translateY(38vh) scale(0.45);
    }

    79.1666666667% {
        transform: translateX(32vw) translateY(-24vh) scale(0.75);
    }

    83.3333333333% {
        transform: translateX(-44vw) translateY(-18vh) scale(1);
    }

    87.5% {
        transform: translateX(15vw) translateY(44vh) scale(0.48);
    }

    91.6666666667% {
        transform: translateX(11vw) translateY(-24vh) scale(0.85);
    }

    95.8333333333% {
        transform: translateX(13vw) translateY(-10vh) scale(0.37);
    }

    100% {
        transform: translateX(10vw) translateY(-16vh) scale(0.33);
    }
}

.firefly:nth-child(3) {
    animation-name: move3;
}

    .firefly:nth-child(3)::before {
        animation-duration: 18s;
    }

    .firefly:nth-child(3)::after {
        animation-duration: 18s, 5041ms;
        animation-delay: 0ms, 3396ms;
    }

@keyframes move3 {
    0% {
        transform: translateX(-47vw) translateY(21vh) scale(0.91);
    }

    4.7619047619% {
        transform: translateX(-6vw) translateY(49vh) scale(0.28);
    }

    9.5238095238% {
        transform: translateX(29vw) translateY(3vh) scale(0.91);
    }

    14.2857142857% {
        transform: translateX(-31vw) translateY(-30vh) scale(0.33);
    }

    19.0476190476% {
        transform: translateX(9vw) translateY(-26vh) scale(0.85);
    }

    23.8095238095% {
        transform: translateX(3vw) translateY(3vh) scale(0.49);
    }

    28.5714285714% {
        transform: translateX(3vw) translateY(50vh) scale(0.98);
    }

    33.3333333333% {
        transform: translateX(-9vw) translateY(42vh) scale(0.71);
    }

    38.0952380952% {
        transform: translateX(49vw) translateY(42vh) scale(0.63);
    }

    42.8571428571% {
        transform: translateX(6vw) translateY(-33vh) scale(0.29);
    }

    47.619047619% {
        transform: translateX(21vw) translateY(-5vh) scale(0.43);
    }

    52.380952381% {
        transform: translateX(-2vw) translateY(-26vh) scale(0.45);
    }

    57.1428571429% {
        transform: translateX(11vw) translateY(23vh) scale(0.52);
    }

    61.9047619048% {
        transform: translateX(4vw) translateY(-14vh) scale(0.44);
    }

    66.6666666667% {
        transform: translateX(13vw) translateY(-8vh) scale(1);
    }

    71.4285714286% {
        transform: translateX(-4vw) translateY(19vh) scale(0.93);
    }

    76.1904761905% {
        transform: translateX(-5vw) translateY(44vh) scale(0.34);
    }

    80.9523809524% {
        transform: translateX(11vw) translateY(-41vh) scale(0.48);
    }

    85.7142857143% {
        transform: translateX(30vw) translateY(7vh) scale(0.79);
    }

    90.4761904762% {
        transform: translateX(46vw) translateY(-41vh) scale(0.56);
    }

    95.2380952381% {
        transform: translateX(46vw) translateY(-1vh) scale(0.59);
    }

    100% {
        transform: translateX(35vw) translateY(11vh) scale(0.34);
    }
}

.firefly:nth-child(4) {
    animation-name: move4;
}

    .firefly:nth-child(4)::before {
        animation-duration: 13s;
    }

    .firefly:nth-child(4)::after {
        animation-duration: 13s, 6115ms;
        animation-delay: 0ms, 8235ms;
    }

@keyframes move4 {
    0% {
        transform: translateX(6vw) translateY(-34vh) scale(0.87);
    }

    5.5555555556% {
        transform: translateX(15vw) translateY(-30vh) scale(0.52);
    }

    11.1111111111% {
        transform: translateX(29vw) translateY(-34vh) scale(0.48);
    }

    16.6666666667% {
        transform: translateX(-31vw) translateY(12vh) scale(0.38);
    }

    22.2222222222% {
        transform: translateX(5vw) translateY(-39vh) scale(0.61);
    }

    27.7777777778% {
        transform: translateX(14vw) translateY(14vh) scale(0.9);
    }

    33.3333333333% {
        transform: translateX(44vw) translateY(10vh) scale(0.48);
    }

    38.8888888889% {
        transform: translateX(14vw) translateY(26vh) scale(0.74);
    }

    44.4444444444% {
        transform: translateX(32vw) translateY(22vh) scale(0.76);
    }

    50% {
        transform: translateX(-31vw) translateY(-46vh) scale(0.52);
    }

    55.5555555556% {
        transform: translateX(-24vw) translateY(-4vh) scale(0.81);
    }

    61.1111111111% {
        transform: translateX(-13vw) translateY(-26vh) scale(0.99);
    }

    66.6666666667% {
        transform: translateX(49vw) translateY(42vh) scale(0.53);
    }

    72.2222222222% {
        transform: translateX(49vw) translateY(-29vh) scale(0.59);
    }

    77.7777777778% {
        transform: translateX(21vw) translateY(-30vh) scale(0.62);
    }

    83.3333333333% {
        transform: translateX(-25vw) translateY(30vh) scale(0.68);
    }

    88.8888888889% {
        transform: translateX(46vw) translateY(-14vh) scale(0.29);
    }

    94.4444444444% {
        transform: translateX(34vw) translateY(15vh) scale(0.78);
    }

    100% {
        transform: translateX(4vw) translateY(40vh) scale(0.55);
    }
}

.firefly:nth-child(5) {
    animation-name: move5;
}

    .firefly:nth-child(5)::before {
        animation-duration: 16s;
    }

    .firefly:nth-child(5)::after {
        animation-duration: 16s, 5487ms;
        animation-delay: 0ms, 7949ms;
    }

@keyframes move5 {
    0% {
        transform: translateX(1vw) translateY(2vh) scale(0.33);
    }

    4.1666666667% {
        transform: translateX(-48vw) translateY(8vh) scale(0.9);
    }

    8.3333333333% {
        transform: translateX(-14vw) translateY(1vh) scale(0.99);
    }

    12.5% {
        transform: translateX(-25vw) translateY(40vh) scale(0.33);
    }

    16.6666666667% {
        transform: translateX(-46vw) translateY(-3vh) scale(0.35);
    }

    20.8333333333% {
        transform: translateX(34vw) translateY(-33vh) scale(0.69);
    }

    25% {
        transform: translateX(8vw) translateY(37vh) scale(0.69);
    }

    29.1666666667% {
        transform: translateX(-34vw) translateY(-34vh) scale(0.7);
    }

    33.3333333333% {
        transform: translateX(36vw) translateY(0vh) scale(0.7);
    }

    37.5% {
        transform: translateX(-13vw) translateY(-12vh) scale(0.36);
    }

    41.6666666667% {
        transform: translateX(36vw) translateY(46vh) scale(0.53);
    }

    45.8333333333% {
        transform: translateX(33vw) translateY(1vh) scale(0.95);
    }

    50% {
        transform: translateX(-19vw) translateY(8vh) scale(0.57);
    }

    54.1666666667% {
        transform: translateX(22vw) translateY(28vh) scale(0.6);
    }

    58.3333333333% {
        transform: translateX(15vw) translateY(5vh) scale(0.86);
    }

    62.5% {
        transform: translateX(-4vw) translateY(-49vh) scale(0.83);
    }

    66.6666666667% {
        transform: translateX(4vw) translateY(-10vh) scale(0.92);
    }

    70.8333333333% {
        transform: translateX(-3vw) translateY(-11vh) scale(0.35);
    }

    75% {
        transform: translateX(-34vw) translateY(-38vh) scale(0.3);
    }

    79.1666666667% {
        transform: translateX(34vw) translateY(18vh) scale(0.67);
    }

    83.3333333333% {
        transform: translateX(7vw) translateY(-48vh) scale(0.72);
    }

    87.5% {
        transform: translateX(34vw) translateY(-42vh) scale(0.71);
    }

    91.6666666667% {
        transform: translateX(-31vw) translateY(16vh) scale(0.52);
    }

    95.8333333333% {
        transform: translateX(-21vw) translateY(-25vh) scale(0.46);
    }

    100% {
        transform: translateX(22vw) translateY(5vh) scale(0.89);
    }
}

.firefly:nth-child(6) {
    animation-name: move6;
}

    .firefly:nth-child(6)::before {
        animation-duration: 16s;
    }

    .firefly:nth-child(6)::after {
        animation-duration: 16s, 9481ms;
        animation-delay: 0ms, 6913ms;
    }

@keyframes move6 {
    0% {
        transform: translateX(1vw) translateY(38vh) scale(0.87);
    }

    3.7037037037% {
        transform: translateX(46vw) translateY(-38vh) scale(0.32);
    }

    7.4074074074% {
        transform: translateX(-26vw) translateY(-14vh) scale(0.76);
    }

    11.1111111111% {
        transform: translateX(-44vw) translateY(-42vh) scale(0.75);
    }

    14.8148148148% {
        transform: translateX(-34vw) translateY(37vh) scale(0.48);
    }

    18.5185185185% {
        transform: translateX(50vw) translateY(31vh) scale(0.3);
    }

    22.2222222222% {
        transform: translateX(25vw) translateY(-31vh) scale(0.84);
    }

    25.9259259259% {
        transform: translateX(-43vw) translateY(20vh) scale(0.55);
    }

    29.6296296296% {
        transform: translateX(47vw) translateY(22vh) scale(0.64);
    }

    33.3333333333% {
        transform: translateX(41vw) translateY(-30vh) scale(0.36);
    }

    37.037037037% {
        transform: translateX(-22vw) translateY(0vh) scale(0.3);
    }

    40.7407407407% {
        transform: translateX(0vw) translateY(-9vh) scale(0.58);
    }

    44.4444444444% {
        transform: translateX(-43vw) translateY(44vh) scale(0.93);
    }

    48.1481481481% {
        transform: translateX(39vw) translateY(-49vh) scale(0.78);
    }

    51.8518518519% {
        transform: translateX(46vw) translateY(-36vh) scale(0.52);
    }

    55.5555555556% {
        transform: translateX(-16vw) translateY(11vh) scale(0.42);
    }

    59.2592592593% {
        transform: translateX(-4vw) translateY(14vh) scale(0.59);
    }

    62.962962963% {
        transform: translateX(-26vw) translateY(29vh) scale(0.67);
    }

    66.6666666667% {
        transform: translateX(40vw) translateY(-27vh) scale(0.28);
    }

    70.3703703704% {
        transform: translateX(16vw) translateY(-14vh) scale(0.73);
    }

    74.0740740741% {
        transform: translateX(16vw) translateY(42vh) scale(0.49);
    }

    77.7777777778% {
        transform: translateX(-13vw) translateY(39vh) scale(0.31);
    }

    81.4814814815% {
        transform: translateX(-18vw) translateY(-47vh) scale(0.62);
    }

    85.1851851852% {
        transform: translateX(35vw) translateY(-24vh) scale(0.71);
    }

    88.8888888889% {
        transform: translateX(-48vw) translateY(-29vh) scale(0.93);
    }

    92.5925925926% {
        transform: translateX(5vw) translateY(-42vh) scale(0.63);
    }

    96.2962962963% {
        transform: translateX(48vw) translateY(38vh) scale(0.68);
    }

    100% {
        transform: translateX(-24vw) translateY(-38vh) scale(0.52);
    }
}

.firefly:nth-child(7) {
    animation-name: move7;
}

    .firefly:nth-child(7)::before {
        animation-duration: 16s;
    }

    .firefly:nth-child(7)::after {
        animation-duration: 16s, 7885ms;
        animation-delay: 0ms, 5804ms;
    }

@keyframes move7 {
    0% {
        transform: translateX(45vw) translateY(46vh) scale(0.75);
    }

    5% {
        transform: translateX(-42vw) translateY(48vh) scale(0.95);
    }

    10% {
        transform: translateX(16vw) translateY(25vh) scale(0.36);
    }

    15% {
        transform: translateX(35vw) translateY(42vh) scale(0.94);
    }

    20% {
        transform: translateX(40vw) translateY(25vh) scale(0.36);
    }

    25% {
        transform: translateX(5vw) translateY(24vh) scale(0.83);
    }

    30% {
        transform: translateX(31vw) translateY(-16vh) scale(0.72);
    }

    35% {
        transform: translateX(40vw) translateY(17vh) scale(0.62);
    }

    40% {
        transform: translateX(-20vw) translateY(27vh) scale(0.46);
    }

    45% {
        transform: translateX(27vw) translateY(-45vh) scale(0.45);
    }

    50% {
        transform: translateX(12vw) translateY(-45vh) scale(0.43);
    }

    55% {
        transform: translateX(-33vw) translateY(-26vh) scale(0.33);
    }

    60% {
        transform: translateX(5vw) translateY(-47vh) scale(0.91);
    }

    65% {
        transform: translateX(8vw) translateY(-21vh) scale(0.79);
    }

    70% {
        transform: translateX(36vw) translateY(-38vh) scale(0.83);
    }

    75% {
        transform: translateX(-19vw) translateY(-11vh) scale(0.85);
    }

    80% {
        transform: translateX(-6vw) translateY(23vh) scale(0.63);
    }

    85% {
        transform: translateX(-14vw) translateY(35vh) scale(0.87);
    }

    90% {
        transform: translateX(4vw) translateY(-8vh) scale(0.3);
    }

    95% {
        transform: translateX(12vw) translateY(21vh) scale(0.84);
    }

    100% {
        transform: translateX(-7vw) translateY(-3vh) scale(0.57);
    }
}

.firefly:nth-child(8) {
    animation-name: move8;
}

    .firefly:nth-child(8)::before {
        animation-duration: 17s;
    }

    .firefly:nth-child(8)::after {
        animation-duration: 17s, 6150ms;
        animation-delay: 0ms, 6371ms;
    }

@keyframes move8 {
    0% {
        transform: translateX(-44vw) translateY(26vh) scale(0.37);
    }

    4.7619047619% {
        transform: translateX(4vw) translateY(-27vh) scale(0.55);
    }

    9.5238095238% {
        transform: translateX(-44vw) translateY(32vh) scale(0.28);
    }

    14.2857142857% {
        transform: translateX(20vw) translateY(14vh) scale(0.62);
    }

    19.0476190476% {
        transform: translateX(-47vw) translateY(-41vh) scale(0.44);
    }

    23.8095238095% {
        transform: translateX(12vw) translateY(24vh) scale(0.84);
    }

    28.5714285714% {
        transform: translateX(-5vw) translateY(-15vh) scale(0.58);
    }

    33.3333333333% {
        transform: translateX(47vw) translateY(-32vh) scale(0.94);
    }

    38.0952380952% {
        transform: translateX(45vw) translateY(21vh) scale(0.73);
    }

    42.8571428571% {
        transform: translateX(-37vw) translateY(38vh) scale(0.86);
    }

    47.619047619% {
        transform: translateX(-40vw) translateY(14vh) scale(0.53);
    }

    52.380952381% {
        transform: translateX(23vw) translateY(2vh) scale(0.51);
    }

    57.1428571429% {
        transform: translateX(-6vw) translateY(-27vh) scale(0.6);
    }

    61.9047619048% {
        transform: translateX(-21vw) translateY(-31vh) scale(0.76);
    }

    66.6666666667% {
        transform: translateX(-37vw) translateY(30vh) scale(0.68);
    }

    71.4285714286% {
        transform: translateX(33vw) translateY(41vh) scale(0.83);
    }

    76.1904761905% {
        transform: translateX(-45vw) translateY(10vh) scale(0.78);
    }

    80.9523809524% {
        transform: translateX(-38vw) translateY(3vh) scale(0.91);
    }

    85.7142857143% {
        transform: translateX(-17vw) translateY(32vh) scale(0.28);
    }

    90.4761904762% {
        transform: translateX(-31vw) translateY(25vh) scale(0.31);
    }

    95.2380952381% {
        transform: translateX(10vw) translateY(-8vh) scale(0.65);
    }

    100% {
        transform: translateX(-31vw) translateY(-18vh) scale(0.38);
    }
}

.firefly:nth-child(9) {
    animation-name: move9;
}

    .firefly:nth-child(9)::before {
        animation-duration: 11s;
    }

    .firefly:nth-child(9)::after {
        animation-duration: 11s, 10405ms;
        animation-delay: 0ms, 4252ms;
    }

@keyframes move9 {
    0% {
        transform: translateX(16vw) translateY(28vh) scale(0.99);
    }

    4.1666666667% {
        transform: translateX(-45vw) translateY(-29vh) scale(0.47);
    }

    8.3333333333% {
        transform: translateX(-49vw) translateY(-12vh) scale(0.84);
    }

    12.5% {
        transform: translateX(-12vw) translateY(34vh) scale(0.64);
    }

    16.6666666667% {
        transform: translateX(35vw) translateY(-20vh) scale(0.38);
    }

    20.8333333333% {
        transform: translateX(-8vw) translateY(-19vh) scale(0.29);
    }

    25% {
        transform: translateX(-29vw) translateY(12vh) scale(0.96);
    }

    29.1666666667% {
        transform: translateX(41vw) translateY(-11vh) scale(0.93);
    }

    33.3333333333% {
        transform: translateX(22vw) translateY(19vh) scale(0.66);
    }

    37.5% {
        transform: translateX(-24vw) translateY(-35vh) scale(0.69);
    }

    41.6666666667% {
        transform: translateX(-5vw) translateY(17vh) scale(0.87);
    }

    45.8333333333% {
        transform: translateX(-44vw) translateY(-20vh) scale(0.54);
    }

    50% {
        transform: translateX(-13vw) translateY(24vh) scale(0.42);
    }

    54.1666666667% {
        transform: translateX(42vw) translateY(21vh) scale(0.96);
    }

    58.3333333333% {
        transform: translateX(13vw) translateY(12vh) scale(0.28);
    }

    62.5% {
        transform: translateX(19vw) translateY(13vh) scale(0.34);
    }

    66.6666666667% {
        transform: translateX(-30vw) translateY(-20vh) scale(0.82);
    }

    70.8333333333% {
        transform: translateX(-38vw) translateY(-48vh) scale(0.5);
    }

    75% {
        transform: translateX(-1vw) translateY(-11vh) scale(0.68);
    }

    79.1666666667% {
        transform: translateX(-32vw) translateY(48vh) scale(0.42);
    }

    83.3333333333% {
        transform: translateX(34vw) translateY(-11vh) scale(0.53);
    }

    87.5% {
        transform: translateX(32vw) translateY(-12vh) scale(0.78);
    }

    91.6666666667% {
        transform: translateX(-24vw) translateY(-46vh) scale(0.43);
    }

    95.8333333333% {
        transform: translateX(36vw) translateY(25vh) scale(0.74);
    }

    100% {
        transform: translateX(-33vw) translateY(-49vh) scale(0.85);
    }
}

.firefly:nth-child(10) {
    animation-name: move10;
}

    .firefly:nth-child(10)::before {
        animation-duration: 17s;
    }

    .firefly:nth-child(10)::after {
        animation-duration: 17s, 8097ms;
        animation-delay: 0ms, 7580ms;
    }

@keyframes move10 {
    0% {
        transform: translateX(-22vw) translateY(3vh) scale(0.35);
    }

    4% {
        transform: translateX(31vw) translateY(-16vh) scale(0.34);
    }

    8% {
        transform: translateX(-40vw) translateY(-1vh) scale(0.45);
    }

    12% {
        transform: translateX(37vw) translateY(-47vh) scale(0.43);
    }

    16% {
        transform: translateX(-35vw) translateY(-4vh) scale(0.93);
    }

    20% {
        transform: translateX(-43vw) translateY(7vh) scale(0.83);
    }

    24% {
        transform: translateX(8vw) translateY(12vh) scale(0.76);
    }

    28% {
        transform: translateX(-3vw) translateY(2vh) scale(0.81);
    }

    32% {
        transform: translateX(47vw) translateY(26vh) scale(0.33);
    }

    36% {
        transform: translateX(1vw) translateY(-37vh) scale(0.4);
    }

    40% {
        transform: translateX(23vw) translateY(46vh) scale(0.9);
    }

    44% {
        transform: translateX(29vw) translateY(-25vh) scale(0.42);
    }

    48% {
        transform: translateX(29vw) translateY(7vh) scale(0.8);
    }

    52% {
        transform: translateX(37vw) translateY(-49vh) scale(0.48);
    }

    56% {
        transform: translateX(12vw) translateY(42vh) scale(0.32);
    }

    60% {
        transform: translateX(-23vw) translateY(16vh) scale(0.26);
    }

    64% {
        transform: translateX(-45vw) translateY(41vh) scale(0.52);
    }

    68% {
        transform: translateX(31vw) translateY(22vh) scale(0.55);
    }

    72% {
        transform: translateX(-48vw) translateY(-35vh) scale(0.45);
    }

    76% {
        transform: translateX(14vw) translateY(-36vh) scale(0.41);
    }

    80% {
        transform: translateX(-49vw) translateY(13vh) scale(0.96);
    }

    84% {
        transform: translateX(28vw) translateY(-3vh) scale(0.31);
    }

    88% {
        transform: translateX(-12vw) translateY(43vh) scale(0.38);
    }

    92% {
        transform: translateX(-33vw) translateY(31vh) scale(0.3);
    }

    96% {
        transform: translateX(-24vw) translateY(-21vh) scale(0.77);
    }

    100% {
        transform: translateX(15vw) translateY(-21vh) scale(0.95);
    }
}

.firefly:nth-child(11) {
    animation-name: move11;
}

    .firefly:nth-child(11)::before {
        animation-duration: 16s;
    }

    .firefly:nth-child(11)::after {
        animation-duration: 16s, 9383ms;
        animation-delay: 0ms, 8240ms;
    }

@keyframes move11 {
    0% {
        transform: translateX(-9vw) translateY(26vh) scale(0.46);
    }

    4.7619047619% {
        transform: translateX(-4vw) translateY(-19vh) scale(0.56);
    }

    9.5238095238% {
        transform: translateX(-41vw) translateY(50vh) scale(0.62);
    }

    14.2857142857% {
        transform: translateX(47vw) translateY(-29vh) scale(0.57);
    }

    19.0476190476% {
        transform: translateX(-13vw) translateY(-43vh) scale(0.68);
    }

    23.8095238095% {
        transform: translateX(-32vw) translateY(18vh) scale(0.76);
    }

    28.5714285714% {
        transform: translateX(6vw) translateY(-20vh) scale(0.82);
    }

    33.3333333333% {
        transform: translateX(26vw) translateY(-34vh) scale(0.92);
    }

    38.0952380952% {
        transform: translateX(34vw) translateY(-20vh) scale(0.33);
    }

    42.8571428571% {
        transform: translateX(49vw) translateY(-16vh) scale(0.77);
    }

    47.619047619% {
        transform: translateX(-38vw) translateY(-28vh) scale(0.76);
    }

    52.380952381% {
        transform: translateX(-43vw) translateY(-36vh) scale(0.46);
    }

    57.1428571429% {
        transform: translateX(5vw) translateY(48vh) scale(0.46);
    }

    61.9047619048% {
        transform: translateX(44vw) translateY(31vh) scale(0.43);
    }

    66.6666666667% {
        transform: translateX(-9vw) translateY(2vh) scale(0.74);
    }

    71.4285714286% {
        transform: translateX(17vw) translateY(-39vh) scale(0.62);
    }

    76.1904761905% {
        transform: translateX(-36vw) translateY(29vh) scale(0.46);
    }

    80.9523809524% {
        transform: translateX(47vw) translateY(-16vh) scale(0.47);
    }

    85.7142857143% {
        transform: translateX(-34vw) translateY(-10vh) scale(0.99);
    }

    90.4761904762% {
        transform: translateX(-34vw) translateY(-27vh) scale(0.57);
    }

    95.2380952381% {
        transform: translateX(-49vw) translateY(40vh) scale(0.31);
    }

    100% {
        transform: translateX(-29vw) translateY(-39vh) scale(1);
    }
}

.firefly:nth-child(12) {
    animation-name: move12;
}

    .firefly:nth-child(12)::before {
        animation-duration: 13s;
    }

    .firefly:nth-child(12)::after {
        animation-duration: 13s, 5485ms;
        animation-delay: 0ms, 2405ms;
    }

@keyframes move12 {
    0% {
        transform: translateX(-29vw) translateY(-15vh) scale(0.82);
    }

    4% {
        transform: translateX(40vw) translateY(-30vh) scale(0.36);
    }

    8% {
        transform: translateX(45vw) translateY(32vh) scale(0.32);
    }

    12% {
        transform: translateX(-8vw) translateY(-47vh) scale(0.72);
    }

    16% {
        transform: translateX(3vw) translateY(-27vh) scale(0.72);
    }

    20% {
        transform: translateX(-33vw) translateY(-46vh) scale(0.35);
    }

    24% {
        transform: translateX(-43vw) translateY(14vh) scale(0.35);
    }

    28% {
        transform: translateX(0vw) translateY(-17vh) scale(0.28);
    }

    32% {
        transform: translateX(48vw) translateY(-24vh) scale(0.93);
    }

    36% {
        transform: translateX(-27vw) translateY(21vh) scale(0.43);
    }

    40% {
        transform: translateX(35vw) translateY(44vh) scale(0.71);
    }

    44% {
        transform: translateX(-36vw) translateY(14vh) scale(0.63);
    }

    48% {
        transform: translateX(4vw) translateY(21vh) scale(0.67);
    }

    52% {
        transform: translateX(37vw) translateY(4vh) scale(0.91);
    }

    56% {
        transform: translateX(15vw) translateY(40vh) scale(0.98);
    }

    60% {
        transform: translateX(-34vw) translateY(-17vh) scale(0.44);
    }

    64% {
        transform: translateX(-19vw) translateY(32vh) scale(0.74);
    }

    68% {
        transform: translateX(-45vw) translateY(-39vh) scale(0.5);
    }

    72% {
        transform: translateX(9vw) translateY(-34vh) scale(0.73);
    }

    76% {
        transform: translateX(-26vw) translateY(-40vh) scale(0.52);
    }

    80% {
        transform: translateX(-23vw) translateY(-47vh) scale(0.35);
    }

    84% {
        transform: translateX(41vw) translateY(-48vh) scale(0.46);
    }

    88% {
        transform: translateX(22vw) translateY(-35vh) scale(0.85);
    }

    92% {
        transform: translateX(5vw) translateY(-21vh) scale(0.69);
    }

    96% {
        transform: translateX(19vw) translateY(15vh) scale(0.54);
    }

    100% {
        transform: translateX(-22vw) translateY(-16vh) scale(0.34);
    }
}

.firefly:nth-child(13) {
    animation-name: move13;
}

    .firefly:nth-child(13)::before {
        animation-duration: 18s;
    }

    .firefly:nth-child(13)::after {
        animation-duration: 18s, 8640ms;
        animation-delay: 0ms, 5700ms;
    }

@keyframes move13 {
    0% {
        transform: translateX(-19vw) translateY(-31vh) scale(0.79);
    }

    5.8823529412% {
        transform: translateX(23vw) translateY(-15vh) scale(0.58);
    }

    11.7647058824% {
        transform: translateX(-45vw) translateY(-5vh) scale(0.82);
    }

    17.6470588235% {
        transform: translateX(-16vw) translateY(33vh) scale(0.72);
    }

    23.5294117647% {
        transform: translateX(12vw) translateY(27vh) scale(0.49);
    }

    29.4117647059% {
        transform: translateX(6vw) translateY(21vh) scale(0.67);
    }

    35.2941176471% {
        transform: translateX(-2vw) translateY(-42vh) scale(0.87);
    }

    41.1764705882% {
        transform: translateX(-18vw) translateY(-43vh) scale(0.55);
    }

    47.0588235294% {
        transform: translateX(-17vw) translateY(-5vh) scale(0.8);
    }

    52.9411764706% {
        transform: translateX(23vw) translateY(-23vh) scale(0.66);
    }

    58.8235294118% {
        transform: translateX(-35vw) translateY(49vh) scale(0.63);
    }

    64.7058823529% {
        transform: translateX(41vw) translateY(-49vh) scale(0.67);
    }

    70.5882352941% {
        transform: translateX(-1vw) translateY(28vh) scale(0.26);
    }

    76.4705882353% {
        transform: translateX(41vw) translateY(-33vh) scale(0.98);
    }

    82.3529411765% {
        transform: translateX(-31vw) translateY(-34vh) scale(0.57);
    }

    88.2352941176% {
        transform: translateX(-28vw) translateY(-32vh) scale(0.83);
    }

    94.1176470588% {
        transform: translateX(21vw) translateY(-31vh) scale(0.99);
    }

    100% {
        transform: translateX(19vw) translateY(-46vh) scale(0.56);
    }
}

.firefly:nth-child(14) {
    animation-name: move14;
}

    .firefly:nth-child(14)::before {
        animation-duration: 16s;
    }

    .firefly:nth-child(14)::after {
        animation-duration: 16s, 5425ms;
        animation-delay: 0ms, 749ms;
    }

@keyframes move14 {
    0% {
        transform: translateX(28vw) translateY(10vh) scale(0.75);
    }

    4.1666666667% {
        transform: translateX(-10vw) translateY(22vh) scale(0.38);
    }

    8.3333333333% {
        transform: translateX(-10vw) translateY(-11vh) scale(0.59);
    }

    12.5% {
        transform: translateX(41vw) translateY(-30vh) scale(0.84);
    }

    16.6666666667% {
        transform: translateX(36vw) translateY(-44vh) scale(0.55);
    }

    20.8333333333% {
        transform: translateX(10vw) translateY(19vh) scale(0.47);
    }

    25% {
        transform: translateX(2vw) translateY(-41vh) scale(0.38);
    }

    29.1666666667% {
        transform: translateX(-12vw) translateY(-40vh) scale(0.67);
    }

    33.3333333333% {
        transform: translateX(-30vw) translateY(-35vh) scale(0.48);
    }

    37.5% {
        transform: translateX(-43vw) translateY(41vh) scale(0.69);
    }

    41.6666666667% {
        transform: translateX(13vw) translateY(38vh) scale(1);
    }

    45.8333333333% {
        transform: translateX(2vw) translateY(-48vh) scale(0.71);
    }

    50% {
        transform: translateX(14vw) translateY(-16vh) scale(0.63);
    }

    54.1666666667% {
        transform: translateX(38vw) translateY(12vh) scale(0.63);
    }

    58.3333333333% {
        transform: translateX(50vw) translateY(15vh) scale(0.55);
    }

    62.5% {
        transform: translateX(27vw) translateY(29vh) scale(0.75);
    }

    66.6666666667% {
        transform: translateX(-8vw) translateY(13vh) scale(0.26);
    }

    70.8333333333% {
        transform: translateX(25vw) translateY(-42vh) scale(0.31);
    }

    75% {
        transform: translateX(-22vw) translateY(12vh) scale(0.6);
    }

    79.1666666667% {
        transform: translateX(23vw) translateY(-42vh) scale(0.74);
    }

    83.3333333333% {
        transform: translateX(27vw) translateY(19vh) scale(0.56);
    }

    87.5% {
        transform: translateX(-17vw) translateY(-11vh) scale(0.92);
    }

    91.6666666667% {
        transform: translateX(-15vw) translateY(4vh) scale(0.45);
    }

    95.8333333333% {
        transform: translateX(-33vw) translateY(47vh) scale(0.33);
    }

    100% {
        transform: translateX(32vw) translateY(-39vh) scale(0.88);
    }
}

.firefly:nth-child(15) {
    animation-name: move15;
}

    .firefly:nth-child(15)::before {
        animation-duration: 17s;
    }

    .firefly:nth-child(15)::after {
        animation-duration: 17s, 9960ms;
        animation-delay: 0ms, 8175ms;
    }

@keyframes move15 {
    0% {
        transform: translateX(-21vw) translateY(-40vh) scale(0.36);
    }

    3.5714285714% {
        transform: translateX(19vw) translateY(6vh) scale(0.63);
    }

    7.1428571429% {
        transform: translateX(27vw) translateY(21vh) scale(0.47);
    }

    10.7142857143% {
        transform: translateX(-42vw) translateY(9vh) scale(0.41);
    }

    14.2857142857% {
        transform: translateX(-39vw) translateY(18vh) scale(0.76);
    }

    17.8571428571% {
        transform: translateX(-37vw) translateY(-31vh) scale(0.94);
    }

    21.4285714286% {
        transform: translateX(32vw) translateY(18vh) scale(0.8);
    }

    25% {
        transform: translateX(-1vw) translateY(1vh) scale(0.61);
    }

    28.5714285714% {
        transform: translateX(-35vw) translateY(-11vh) scale(0.64);
    }

    32.1428571429% {
        transform: translateX(17vw) translateY(37vh) scale(0.51);
    }

    35.7142857143% {
        transform: translateX(-28vw) translateY(-14vh) scale(0.83);
    }

    39.2857142857% {
        transform: translateX(-3vw) translateY(29vh) scale(0.99);
    }

    42.8571428571% {
        transform: translateX(26vw) translateY(-13vh) scale(0.64);
    }

    46.4285714286% {
        transform: translateX(24vw) translateY(-15vh) scale(0.84);
    }

    50% {
        transform: translateX(37vw) translateY(8vh) scale(0.78);
    }

    53.5714285714% {
        transform: translateX(5vw) translateY(11vh) scale(0.53);
    }

    57.1428571429% {
        transform: translateX(-7vw) translateY(3vh) scale(0.28);
    }

    60.7142857143% {
        transform: translateX(-4vw) translateY(22vh) scale(0.27);
    }

    64.2857142857% {
        transform: translateX(34vw) translateY(-20vh) scale(0.84);
    }

    67.8571428571% {
        transform: translateX(-27vw) translateY(40vh) scale(0.77);
    }

    71.4285714286% {
        transform: translateX(-10vw) translateY(-38vh) scale(0.82);
    }

    75% {
        transform: translateX(-15vw) translateY(45vh) scale(0.84);
    }

    78.5714285714% {
        transform: translateX(44vw) translateY(-5vh) scale(0.46);
    }

    82.1428571429% {
        transform: translateX(-7vw) translateY(-44vh) scale(0.78);
    }

    85.7142857143% {
        transform: translateX(47vw) translateY(28vh) scale(0.63);
    }

    89.2857142857% {
        transform: translateX(-37vw) translateY(-47vh) scale(0.83);
    }

    92.8571428571% {
        transform: translateX(-8vw) translateY(6vh) scale(0.67);
    }

    96.4285714286% {
        transform: translateX(10vw) translateY(14vh) scale(0.48);
    }

    100% {
        transform: translateX(22vw) translateY(-47vh) scale(0.6);
    }
}

@keyframes drift {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0%, 30%, 100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }

    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw yellow;
    }
}

